name: Deno CI workflow
on:
    workflow_call:

jobs:
  denoci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2
        with:
          deno-version: '2.5.4'
      - name: Cache https://
        uses: actions/cache@v5
        with:
          path: ~/.cache/deno/deps/https
          key: deno-https/v1-${{ github.sha }}
          restore-keys: deno-https/v1-
      - run: deno task lint
      - run: deno task coverage
    
